<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title> Home </title>
	
	<style>
		div {
			justify-content: center;
			align-items: center;
			text-align: center;
			align-content: center;
		}
		h1 {
			color: lightblue;
			margin: 2em auto;
			font: 5ch droid sans mono, consolas, monospace;
		}
		h2 {
			color: lightblue;
			font: 4ch droid sans mono, consolas, monospace;
		}
		input {
			display: block;
			margin: 2em auto;
			border: none;
			padding: 0;
			width: 25ch;
			background: repeating-linear-gradient(90deg, dimgrey 0, dimgrey 1ch, transparent 0, transparent 1.5ch) 0 100%/24ch 2px no-repeat;
			font: 5ch droid sans mono, consolas, monospace;
			letter-spacing: 0.5ch;
		}
		input:focus {
			outline: none;
			color: dodgerblue;
		}
		textarea {
			font: 5ch droid sans mono, consolas, monospace;
			display: block;
			margin: 10px;
			padding: 5px;
			width: 16ch;
			border: none;
			font-size: 5ch;
		}
		textarea:focus {
			outline: 0;
		}
		.center {
			margin: auto;
			width: 25.5%;
			padding: 10px;
		}
		button {
			margin: 2em auto;
			padding: 0;
			width: 150px;
			height: 50px;
			cursor: pointer;
			border: none;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: #7f5a83;
			background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
			background-size: 200% 100%;
			background-position: left;
			background-repeat: no-repeat;
			transition: 500ms;
		}
		button:before {
			position: absolute;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 140px;
			height: 40px;
			background-color: #1b2845;
			background-image: linear-gradient(315deg, #1b2845 0%, #274060 74%);
			transition: 500ms;
		}
		button:hover {
			background-position: right;
		}
		button:hover:before {
			color: rgba(255,255,255,0.8);
		}
		button:focus {
			outline: none;
		}
		p {
			display: block;
			margin: 2em auto;
			border: none;
			padding: 0;
			width: 22ch;
			font: 3ch droid sans mono, consolas, monospace;
			color: red;
		}
		#row {
    		text-align:center;
		}
		#switch_hex, #switch_binary {
			display:inline;
		}
		#output_message {
			display:none;
		}
	</style>

	<script type="text/javascript">
		function toggle_hide_binary() {
			$("#64-bit-binary").hide();
			$("#switch_hex").hide();
		}
		function toggle_hex() {
			$("#16-digit-hex").show();
			$("#64-bit-binary").hide();
			$("#switch_binary").show();
			$("#switch_hex").hide();
		}
		function toggle_binary() {
			$("#64-bit-binary").show();
			$("#16-digit-hex").hide();
			$("#switch_hex").show();
			$("#switch_hide").show();
		}
		function display_output(){
			var p = document.getElementById("output_message");
			p.style.display ="block";
		}
	</script>
</head>
<body style="background-color: #191970;" onload="toggle_hide_binary()">
	<div>
		<h1>IEEE-754 Decimal-64 Floating Point Translator</h1>
		<div id="16-digit-hex">
			<h2>16-digit Hex Input</h2>
			<input maxlength='16' placeholder='••••••••••••••••' id="hex-input"/>
			<button class="btn-16-bit-hex" onclick="display_output()" style="color: rgba(255,255,255,0.5); font-size: 16px;">Submit</button>
		</div>
		<div id="64-bit-binary" class="center">
			<h2>64-bit Binary Input</h2>
			<textarea rows="4" id="binary-input" required autocomplete="off"></textarea>
			<button class="btn-64-bit-binary" onclick="display_output()" style="color: rgba(255,255,255,0.5); font-size: 16px;">Submit</button>
		</div>
		<p id="error_message">Error: Invalid input</p>
		<p id="output_message">Imma pretend this is the answer</p>
		<div id="row">
			<button class="input-switch" id="switch_hex" style="color: rgba(255,255,255,0.5); font-size: 16px;" onclick="toggle_hex()">Hex Input Switch</button>
			<button class="input-switch" id="switch_binary" style="color: rgba(255,255,255,0.5); font-size: 16px;" onclick="toggle_binary()">Binary Input Switch</button>
		</div>
			
	</div>
</body>
</html>