<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<title> Home </title>

	<script type= "text/javascript" src="/js/bcd-indexes.js"></script>
	<script type= "text/javascript" src="/js/converter.js"></script>
	<script type= "text/javascript" src="/js/translator.js"></script>
	<style>
		#toggle {
			visibility: hidden;
			opacity: 0;
			position: relative;
			z-index: -1;
		}
		#toggle:checked ~ dialog {
			display: block;
		}
		@-webkit-keyframes appear {
			0% {
			  opacity: 0;
			  transform: translateY(-10px);
			}
		  }
		  
		@keyframes appear {
			0% {
			  opacity: 0;
			  transform: translateY(-10px);
			}
		}
		dialog {
			-webkit-animation: appear 350ms ease-in 1;
					animation: appear 350ms ease-in 1;
			max-width: 500px;
		}
		label {
			background: #78909c;
			color: white;
			padding: 0.5em 1em;
			border-radius: 4px;
			font: 3ch droid sans mono, consolas, monospace;
			color:#0d324d;
		}
		div {
			justify-content: center;
			align-items: center;
			text-align: center;
			align-content: center;
		}
		h1 {
			color: lightblue;
			font: 5ch droid sans mono, consolas, monospace;
			margin-bottom: 70px;
		}
		h2 {
			color: lightblue;
			font: 4ch droid sans mono, consolas, monospace;
			margin-bottom: 50px;
		}
		#hex-input{
			display: block;
			margin: 2em auto;
			border: none;
			padding: 0;
			width: 25ch;
			background: repeating-linear-gradient(90deg, dimgrey 0, dimgrey 1ch, transparent 0, transparent 1.5ch) 0 100%/24ch 2px no-repeat;
			font: 5ch droid sans mono, consolas, monospace;
			letter-spacing: 0.5ch;
		}
		#hex-input{
			outline: none;
			color: dodgerblue;
		}
		.id {
			width: 7.5%;
		}
		.combination {
			width: 14%;
		}
		.exponent {
			width: 17%
		}
		.coefficient {
			width: 480px;
		}
		.center {
			margin: auto;
			width: 30%;
			padding: 10px;
		}
		button {
			margin: 2em auto;
			padding: 0;
			width: 150px;
			height: 50px;
			cursor: pointer;
			border: none;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: #7f5a83;
			background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
			background-size: 200% 100%;
			background-position: left;
			background-repeat: no-repeat;
			transition: 500ms;
		}
		button:before {
			position: absolute;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 140px;
			height: 40px;
			background-color: #1b2845;
			background-image: linear-gradient(315deg, #1b2845 0%, #274060 74%);
			transition: 500ms;
		}
		button:hover {
			background-position: right;
		}
		button:hover:before {
			color: rgba(255,255,255,0.8);
		}
		button:focus {
			outline: none;
		}
		p {
			display: block;
			margin: auto;
			border: none;
			padding: 0;
			width: 22ch;
			font: 3ch droid sans mono, consolas, monospace;
			color: red;
		}
		#row {
    		text-align:center;
		}
		#switch_hex, #switch_binary {
			display:inline;
		}
		radio {
			color: white;
		}
	</style>
	<script src="https://cdn.jsdelivr.net/npm/cleave.js@1.6.0/dist/cleave.min.js"></script>
	<script type="text/javascript">
		window.onload = () => {
			const binDiv = document.getElementById('64-bit-binary')
			const hexDiv = document.getElementById('16-digit-hex')
			let isBin = false

			const switchBtn = document.getElementById('switch-btn')

			switchBtn.addEventListener('click', () => {
				if (isBin) {
					switchBtn.innerHTML = 'Switch to Bin Input'
					binDiv.style.display = 'none'
					hexDiv.style.display = 'block'
				} else {
					switchBtn.innerHTML = 'Switch to Hex Input'
					binDiv.style.display = 'block'
					hexDiv.style.display = 'none'
				}
				isBin = !isBin
			})

			function display_output(){
				console.log("Hello World")
				var p = document.getElementById("output_message");
				p.style.display ="block";
			}
			var cleave = new Cleave('#exponent', {
				blocks: [4, 4]
			});
			var cleave = new Cleave('#coefficient', {
				blocks: [10, 10, 10, 10, 10]
			});
		}
		
	</script>
</head>
<body style="background-color: #122832;">
	<input type="checkbox" id="toggle">
	<label for="toggle">About the authors</label>
	<dialog>
	  <p style="margin-bottom: 50px">
		Group 8 <br><br>
		Castro, Steven Jentyn <br>
		Li, Roymaxson <br>
		Rosima, Rayvhen Mico <br>
		Saril, Dean Migz
	  </p>
	  <label for="toggle">Close</label>
	</dialog>
	<div>
		<h1>IEEE-754 Decimal-64 Floating Point Translator</h1>
		<div id="16-digit-hex">
			<h2>16-digit Hex Input</h2>
			<input value="3E74A3D14A3DD631" maxlength='16' placeholder='••••••••••••••••' id="hex-input"/>
			<input type="radio" id="fixed_point" name="fixed_point"> <label style="color: white; font-size: 16px;">Fixed Point</label>
			<div></div>
			<input type="radio" id="floating_point" name="floating_point"> <label style="color: white; font-size: 16px;">Floating Point</label>
			<button class="btn-16-bit-hex" onclick="outputDecimalOfHex()" style="color: rgba(255,255,255,0.5); font-size: 16px;">Submit</button>
		</div>
		<div id="64-bit-binary" style="display: none;">
			<h2>64-bit Binary Input</h2>
			<div class="input-group mb-3">
				<div class="row">
					<div class="id">
						<input value="0" maxlength="1" type="text" class="form-control" id="sign-bit" placeholder="Sign Bit">
					</div>
					<div class="combination">
						<input value="01111" maxlength="5" type="text" class="form-control" id="combination" placeholder="Combination Field">
					</div>
					<div class="exponent">
						<input value="10011101" maxlength="9" type="text" class="form-control" id="exponent" placeholder="Exponent Continuation">
					</div>
					<div class="coefficient">
						<input value="00101000111101000101001010001111011101011000110001" maxlength="54" type="text" class="form-control" id="coefficient" placeholder="Coefficient Continuation">
					</div>
				</div>
			</div>
			<input type="radio" id="fixed_point" name="fixed_point" style="color: white; font-size: 16px;"> Fixed Point
			<input type="radio" id="floating_point" name="floating_point" style="color: white; font-size: 16px;" > Floating Point
			<button class="btn-64-bit-binary" onclick="outputDecimalOfBinary()" style="color: rgba(255,255,255,0.5); font-size: 16px;">Submit</button>
		</div>
		<p id="error_message" style="display: none;">Error: Invalid input</p>
		<p id="output_message" display="block"></p>
		<button id="output_copypaste" onclick="copyPaste()" style="color: rgba(255,255,255,0.5); font-size: 16px;">Copy to Clipboard</button>
		<div id="row">
			<button class="input-switch" id="switch-btn" style="color: rgba(255,255,255,0.5); font-size: 16px;">Switch to Bin Input</button>
		</div>
			
	</div>
</body>
</html>